name: Docker Build

on:
  pull_request:
  push:
    branches:
      - main
      - '**'

jobs:
  build-backend:
    name: Build Backend Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: local/hackaton-backend:ci

  build-ds-service:
    name: Build ds-service Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: ./ds-service
          file: ./ds-service/Dockerfile
          push: false
          tags: local/hackaton-ds:ci

  build-dashboard:
    name: Build dashboard Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: ./dashboard
          file: ./dashboard/Dockerfile
          push: false
          tags: local/hackaton-dashboard:ci
